<svg width="0" height="0">
  <symbol id="icon01d" viewBox="0 0 64 64">
    <g transform="translate(32,32)">
      <g class="am-weather-sun am-weather-sun-shiny am-weather-easing-ease-in-out">
        <g>
          <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                x2="0" y1="0" y2="3"></line>
        </g>
        <g transform="rotate(45)">
          <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                x2="0" y1="0" y2="3"></line>
        </g>
        <g transform="rotate(90)">
          <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                x2="0" y1="0" y2="3"></line>
        </g>
        <g transform="rotate(135)">
          <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                x2="0" y1="0" y2="3"></line>
        </g>
        <g transform="rotate(180)">
          <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                x2="0" y1="0" y2="3"></line>
        </g>
        <g transform="rotate(225)">
          <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                x2="0" y1="0" y2="3"></line>
        </g>
        <g transform="rotate(270)">
          <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                x2="0" y1="0" y2="3"></line>
        </g>
        <g transform="rotate(315)">
          <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                x2="0" y1="0" y2="3"></line>
        </g>
      </g>
      <circle cx="0" cy="0" fill="orange" r="5" stroke="orange" stroke-width="2"></circle>
    </g>
  </symbol>
  <symbol id="icon01n" viewBox="0 0 64 64">
    <g transform="translate(20,20)">
      <g class="am-weather-moon-star-1">
        <polygon fill="lightyellow" points="3.3,1.5 4,2.7 5.2,3.3 4,4 3.3,5.2 2.7,4 1.5,3.3 2.7,2.7" stroke="none"
                 stroke-miterlimit="10"></polygon>
      </g>
      <g class="am-weather-moon-star-2">
        <polygon fill="lightyellow" points="3.3,1.5 4,2.7 5.2,3.3 4,4 3.3,5.2 2.7,4 1.5,3.3 2.7,2.7" stroke="none"
                 stroke-miterlimit="10" transform="translate(20,10)"></polygon>
      </g>
      <g class="am-weather-moon">
        <path
          d="M14.5,13.2c0-3.7,2-6.9,5-8.7
          c-1.5-0.9-3.2-1.3-5-1.3c-5.5,0-10,4.5-10,10s4.5,10,10,10c1.8,0,3.5-0.5,5-1.3C16.5,20.2,14.5,16.9,14.5,13.2z"
          fill="lightyellow" stroke="lightyellow" stroke-linejoin="round" stroke-width="2"></path>
      </g>
    </g>
  </symbol>
  <symbol id="icon02d" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g transform="translate(0,16)">
        <g class="am-weather-sun">
          <g>
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(45)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(90)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(135)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(180)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(225)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(270)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(315)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
        </g>
        <circle cx="0" cy="0" fill="orange" r="5" stroke="orange" stroke-width="2"></circle>
      </g>
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
    </g>
  </symbol>
  <symbol id="icon02n" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g transform="translate(16,4), scale(0.8)">
        <g class="am-weather-moon-star-1">
          <polygon fill="lightyellow" points="3.3,1.5 4,2.7 5.2,3.3 4,4 3.3,5.2 2.7,4 1.5,3.3 2.7,2.7" stroke="none"
                   stroke-miterlimit="10"></polygon>
        </g>
        <g class="am-weather-moon-star-2">
          <polygon fill="lightyellow" points="3.3,1.5 4,2.7 5.2,3.3 4,4 3.3,5.2 2.7,4 1.5,3.3 2.7,2.7" stroke="none"
                   stroke-miterlimit="10" transform="translate(20,10)"></polygon>
        </g>
        <g class="am-weather-moon">
          <path
            d="M14.5,13.2c0-3.7,2-6.9,5-8.7
            c-1.5-0.9-3.2-1.3-5-1.3c-5.5,0-10,4.5-10,10s4.5,10,10,10c1.8,0,3.5-0.5,5-1.3C16.5,20.2,14.5,16.9,14.5,13.2z"
            fill="lightyellow" stroke="lightyellow" stroke-linejoin="round" stroke-width="2"></path>
        </g>
      </g>
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
    </g>
  </symbol>
  <symbol id="icon03d" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
    </g>
  </symbol>
  <symbol id="icon03n" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
              c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
    </g>
  </symbol>
  <symbol id="icon04d" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g class="am-weather-cloud-1">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="slategray" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-10,-8), scale(0.6)"></path>
      </g>
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
    </g>
  </symbol>
  <symbol id="icon04n" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g class="am-weather-cloud-1">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="slategray" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-10,-8), scale(0.6)"></path>
      </g>
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
    </g>
  </symbol>
  <symbol id="icon09d" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g class="am-weather-cloud-1">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="slategray" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-10,-8), scale(0.6)"></path>
      </g>
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
    </g>
    <g transform="translate(31,46), rotate(10)">
      <line class="am-weather-rain-1" fill="none" stroke="lightskyblue" stroke-dasharray="4,4" stroke-linecap="round"
            stroke-width="2" transform="translate(-4,1)" x1="0" x2="0" y1="0" y2="8"></line>
      <line class="am-weather-rain-2" fill="none" stroke="lightskyblue" stroke-dasharray="4,4" stroke-linecap="round"
            stroke-width="2" transform="translate(0,-1)" x1="0" x2="0" y1="0" y2="8"></line>
      <line class="am-weather-rain-1" fill="none" stroke="lightskyblue" stroke-dasharray="4,4" stroke-linecap="round"
            stroke-width="2" transform="translate(4,0)" x1="0" x2="0" y1="0" y2="8"></line>
    </g>
  </symbol>
  <symbol id="icon09n" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g class="am-weather-cloud-1">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="slategray" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-10,-8), scale(0.6)"></path>
      </g>
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
    </g>
    <g transform="translate(31,46), rotate(10)">
      <line class="am-weather-rain-1" fill="none" stroke="lightskyblue" stroke-dasharray="4,4" stroke-linecap="round"
            stroke-width="2" transform="translate(-4,1)" x1="0" x2="0" y1="0" y2="8"></line>
      <line class="am-weather-rain-2" fill="none" stroke="lightskyblue" stroke-dasharray="4,4" stroke-linecap="round"
            stroke-width="2" transform="translate(0,-1)" x1="0" x2="0" y1="0" y2="8"></line>
      <line class="am-weather-rain-1" fill="none" stroke="lightskyblue" stroke-dasharray="4,4" stroke-linecap="round"
            stroke-width="2" transform="translate(4,0)" x1="0" x2="0" y1="0" y2="8"></line>
    </g>
  </symbol>
  <symbol id="icon10d" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g transform="translate(0,16)">
        <g class="am-weather-sun">
          <g>
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(45)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(90)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(135)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(180)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(225)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(270)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
          <g transform="rotate(315)">
            <line fill="none" stroke="orange" stroke-linecap="round" stroke-width="2" transform="translate(0,9)" x1="0"
                  x2="0" y1="0" y2="3"></line>
          </g>
        </g>
        <circle cx="0" cy="0" fill="orange" r="5" stroke="orange" stroke-width="2"></circle>
      </g>
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
    </g>
    <g transform="translate(31,46), rotate(10)">
      <line class="am-weather-rain-1" fill="none" stroke="lightskyblue" stroke-dasharray="4,4" stroke-linecap="round"
            stroke-width="2" transform="translate(-4,1)" x1="0" x2="0" y1="0" y2="8"></line>
      <line class="am-weather-rain-2" fill="none" stroke="lightskyblue" stroke-dasharray="4,4" stroke-linecap="round"
            stroke-width="2" transform="translate(0,-1)" x1="0" x2="0" y1="0" y2="8"></line>
      <line class="am-weather-rain-1" fill="none" stroke="lightskyblue" stroke-dasharray="4,4" stroke-linecap="round"
            stroke-width="2" transform="translate(4,0)" x1="0" x2="0" y1="0" y2="8"></line>
    </g>
  </symbol>
  <symbol id="icon10n" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g transform="translate(16,4), scale(0.8)">
        <g class="am-weather-moon-star-1">
          <polygon fill="lightyellow" points="3.3,1.5 4,2.7 5.2,3.3 4,4 3.3,5.2 2.7,4 1.5,3.3 2.7,2.7" stroke="none"
                   stroke-miterlimit="10"></polygon>
        </g>
        <g class="am-weather-moon-star-2">
          <polygon fill="lightyellow" points="3.3,1.5 4,2.7 5.2,3.3 4,4 3.3,5.2 2.7,4 1.5,3.3 2.7,2.7" stroke="none"
                   stroke-miterlimit="10" transform="translate(20,10)"></polygon>
        </g>
        <g class="am-weather-moon">
          <path
            d="M14.5,13.2c0-3.7,2-6.9,5-8.7
            c-1.5-0.9-3.2-1.3-5-1.3c-5.5,0-10,4.5-10,10s4.5,10,10,10c1.8,0,3.5-0.5,5-1.3C16.5,20.2,14.5,16.9,14.5,13.2z"
            fill="lightyellow" stroke="lightyellow" stroke-linejoin="round" stroke-width="2"></path>
        </g>
      </g>
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
    </g>
    <g transform="translate(31,46), rotate(10)">
      <line class="am-weather-rain-1" fill="none" stroke="lightskyblue" stroke-dasharray="4,4" stroke-linecap="round"
            stroke-width="2" transform="translate(-4,1)" x1="0" x2="0" y1="0" y2="8"></line>
      <line class="am-weather-rain-2" fill="none" stroke="lightskyblue" stroke-dasharray="4,4" stroke-linecap="round"
            stroke-width="2" transform="translate(0,-1)" x1="0" x2="0" y1="0" y2="8"></line>
      <line class="am-weather-rain-1" fill="none" stroke="lightskyblue" stroke-dasharray="4,4" stroke-linecap="round"
            stroke-width="2" transform="translate(4,0)" x1="0" x2="0" y1="0" y2="8"></line>
    </g>
  </symbol>
  <symbol id="icon11d" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g class="am-weather-cloud-1">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="slategray" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-10,-8), scale(0.6)"></path>
      </g>
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
      <g transform="translate(-9,28), scale(1.2)">
        <polygon class="am-weather-strike"
                 points="14.3,-2.9 20.5,-2.9 16.4,4.3 20.3,4.3 11.5,14.6 14.9,6.9 11.1,6.9"></polygon>
      </g>
    </g>
  </symbol>
  <symbol id="icon11n" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g class="am-weather-cloud-1">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="slategray" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-10,-8), scale(0.6)"></path>
      </g>
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
      <g transform="translate(-9,28), scale(1.2)">
        <polygon class="am-weather-stroke"
                 points="14.3,-2.9 20.5,-2.9 16.4,4.3 20.3,4.3 11.5,14.6 14.9,6.9 11.1,6.9"></polygon>
      </g>
    </g>
  </symbol>
  <symbol id="icon13d" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g class="am-weather-cloud-1">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="slategray" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-10,-8), scale(0.6)"></path>
      </g>
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
      <g class="am-weather-snow-1">
        <g transform="translate(3,28)">
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1.2"
                transform="translate(0,9), rotate(0)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(45)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(90)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(135)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
        </g>
      </g>
      <g class="am-weather-snow-2">
        <g transform="translate(11,28)">
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1.2"
                transform="translate(0,9), rotate(0)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(45)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(90)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(135)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
        </g>
      </g>
      <g class="am-weather-snow-3">
        <g transform="translate(20,28)">
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1.2"
                transform="translate(0,9), rotate(0)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(45)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(90)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(135)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
        </g>
      </g>
    </g>
  </symbol>
  <symbol id="icon13n" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g class="am-weather-cloud-1">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="slategray" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-10,-8), scale(0.6)"></path>
      </g>
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4
          c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
      <g class="am-weather-snow-1">
        <g transform="translate(3,28)">
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1.2"
                transform="translate(0,9), rotate(0)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(45)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(90)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(135)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
        </g>
      </g>
      <g class="am-weather-snow-2">
        <g transform="translate(11,28)">
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1.2"
                transform="translate(0,9), rotate(0)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(45)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(90)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(135)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
        </g>
      </g>
      <g class="am-weather-snow-3">
        <g transform="translate(20,28)">
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1.2"
                transform="translate(0,9), rotate(0)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(45)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(90)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
          <line fill="none" stroke="white" stroke-linecap="round" stroke-width="1"
                transform="translate(0,9), rotate(135)" x1="0" x2="0" y1="-2.5" y2="2.5"></line>
        </g>
      </g>
    </g>
  </symbol>
  <symbol id="icon50d" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
    </g>
    <g transform="translate(22,46)" class="am-weather-mist">
      <line fill="none" stroke="white" stroke-linecap="round" stroke-opacity="0.5"
            stroke-width="2" transform="translate(0,0)" x1="0" x2="20" y1="0" y2="0"></line>
      <line fill="none" stroke="white" stroke-linecap="round" stroke-opacity="0.75"
            stroke-width="2" transform="translate(0,4)" x1="0" x2="20" y1="0" y2="0"></line>
      <line fill="none" stroke="white" stroke-linecap="round" stroke-opacity="1"
            stroke-width="2" transform="translate(0,8)" x1="0" x2="20" y1="0" y2="0"></line>
    </g>
  </symbol>
  <symbol id="icon50n" viewBox="0 0 64 64">
    <g transform="translate(20,10)">
      <g class="am-weather-cloud-2">
        <path
          d="M47.7,35.4c0-4.6-3.7-8.2-8.2-8.2c-1,0-1.9,0.2-2.8,0.5c-0.3-3.4-3.1-6.2-6.6-6.2c-3.7,0-6.7,3-6.7,6.7c0,0.8,0.2,1.6,0.4,2.3
          c-0.3-0.1-0.7-0.1-1-0.1c-3.7,0-6.7,3-6.7,6.7c0,3.6,2.9,6.6,6.5,6.7l17.2,0C44.2,43.3,47.7,39.8,47.7,35.4z"
          fill="lavender" stroke="white" stroke-linejoin="round" stroke-width="1.2"
          transform="translate(-20,-11)"></path>
      </g>
    </g>
    <g transform="translate(22,46)" class="am-weather-mist">
      <line fill="none" stroke="white" stroke-linecap="round" stroke-opacity="0.5"
            stroke-width="2" transform="translate(0,0)" x1="0" x2="20" y1="0" y2="0"></line>
      <line fill="none" stroke="white" stroke-linecap="round" stroke-opacity="0.75"
            stroke-width="2" transform="translate(0,4)" x1="0" x2="20" y1="0" y2="0"></line>
      <line fill="none" stroke="white" stroke-linecap="round" stroke-opacity="1"
            stroke-width="2" transform="translate(0,8)" x1="0" x2="20" y1="0" y2="0"></line>
    </g>
  </symbol>
</svg>

<svg id="word-cloud" viewBox="0 0 800 480" class="main" [ngClass]="time">
  <g transform="translate(-16, -240) scale(13)">
    <use xlink:href="" width="64" height="64" style="opacity:1" id="icon"></use>
  </g>
  <g id="container">
    <text id="text-template"></text>
  </g>
</svg>
